*.bin
*.sdf
*.lib
*.ipch
*.suo
*.vsidx
*.obj
*.tlog
*.log
*.bat
*.dds
*.tga
*.gr2
*.msa
*.jpg
*.png
*.mss
*.wav
*.atr
*.raw
*.wtr
*.mp3
*.mde
*.epk
*.eix
*.wdp
*.mdatr
*.scc
*.spt
*.db
003254
*.cfg
*.exe
*.xml
*.mpg
*.bmp
*.gif
Save
screenshot
shops
upload
mark
GPUCache
BGM
*.ini
syserr.txt
log.txt
channel.inf
*.inf
libcef.dll
*.inf
item_proto
mob_proto
syserr
